@import 'tailwindcss';


@import '../../vendor/tallstackui/tallstackui/css/v4.css'; 
 
@plugin '@tailwindcss/forms'; 
 
@source '../../vendor/tallstackui/tallstackui/**/*.php';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* COLORS */
    --color-on-surface: #0b1c30;
    --color-on-secondary-fixed-variant: #00504c;
    --color-surface-container: #e5eeff;
    --color-surface-container-low: #eff4ff;
    --color-primary-fixed-dim: #b3c5ff;
    --color-tertiary-container: #cc4204;
    --color-on-secondary-container: #00716b;
    --color-surface-container-highest: #d3e4fe;
    --color-on-background: #0b1c30;
    --color-surface: #f8f9ff;
    --color-surface-bright: #f8f9ff;
    --color-error-container: #ffdad6;
    --color-secondary-container: #6ff7ee;
    --color-tertiary: #a33200;
    --color-surface-tint: #0054d6;
    --color-inverse-primary: #b3c5ff;
    --color-secondary-fixed-dim: #4edbd2;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-high: #dce9ff;
    --color-on-primary-fixed-variant: #003fa4;
    --color-on-tertiary-fixed-variant: #832600;
    --color-error: #ba1a1a;
    --color-inverse-surface: #213145;
    --color-tertiary-fixed-dim: #ffb59d;
    --color-primary-container: #0066ff;
    --color-background: #f8f9ff;
    --color-on-tertiary: #ffffff;
    --color-on-error-container: #93000a;
    --color-on-error: #ffffff;
    --color-on-tertiary-fixed: #390c00;
    --color-outline-variant: #c2c6d8;
    --color-secondary: #006a65;
    --color-on-primary: #ffffff;
    --color-primary-fixed: #dae1ff;
    --color-on-primary-container: #f8f7ff;
    --color-on-primary-fixed: #001849;
    --color-on-tertiary-container: #fff6f4;
    --color-outline: #727687;
    --color-on-secondary-fixed: #00201e;
    --color-on-surface-variant: #424656;
    --color-surface-dim: #cbdbf5;
    --color-surface-variant: #d3e4fe;
    --color-on-secondary: #ffffff;
    --color-tertiary-fixed: #ffdbd0;
    --color-inverse-on-surface: #eaf1ff;
    --color-primary: #0050cb;
    --color-secondary-fixed: #6ff7ee;

    /* BORDER RADIUS */
    --radius: 0.125rem;
    --radius-lg: 0.25rem;
    --radius-xl: 0.5rem;
    --radius-full: 0.75rem;

    /* SPACING */
    --spacing-sm: 8px;
    --spacing-unit: 4px;
    --spacing-md: 16px;
    --spacing-xs: 4px;
    --spacing-xl: 32px;
    --spacing-container-max: 1440px;
    --spacing-gutter: 20px;
    --spacing-sidebar-width: 260px;
    --spacing-lg: 24px;

    /* FONT FAMILY */
    --font-body-sm: "Inter", sans-serif;
    --font-h1: "Inter", sans-serif;
    --font-body-lg: "Inter", sans-serif;
    --font-h3: "Inter", sans-serif;
    --font-h2: "Inter", sans-serif;
    --font-body-md: "Inter", sans-serif;
    --font-label-sm: "Inter", sans-serif;
    --font-label-md: "Inter", sans-serif;

    /* FONT SIZES */
    --text-body-sm: 13px;
    --text-body-sm--line-height: 18px;
    --text-body-sm--font-weight: 400;

    --text-h1: 32px;
    --text-h1--line-height: 40px;
    --text-h1--letter-spacing: -0.02em;
    --text-h1--font-weight: 700;

    --text-body-lg: 16px;
    --text-body-lg--line-height: 24px;
    --text-body-lg--font-weight: 400;

    --text-h3: 20px;
    --text-h3--line-height: 28px;
    --text-h3--letter-spacing: -0.01em;
    --text-h3--font-weight: 600;

    --text-h2: 24px;
    --text-h2--line-height: 32px;
    --text-h2--letter-spacing: -0.01em;
    --text-h2--font-weight: 600;

    --text-body-md: 14px;
    --text-body-md--line-height: 20px;
    --text-body-md--font-weight: 400;

    --text-label-sm: 11px;
    --text-label-sm--line-height: 14px;
    --text-label-sm--letter-spacing: 0.05em;
    --text-label-sm--font-weight: 700;

    --text-label-md: 12px;
    --text-label-md--line-height: 16px;
    --text-label-md--letter-spacing: 0.02em;
    --text-label-md--font-weight: 600;
}
